.idea
.vs
.vscode
Project/.vs
Project/Intermediate
Project/Saved/Logs
Project/Surgo.sln
Project/Saved/ShaderDebugInfo
Project/Saved/Autosaves
Project/Saved/Config/CrashReportClient
Project/Saved/SourceControl
Project/Saved/Crashes
Project/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Project/Saved/Cooked
Project/Build/Windows/FileOpenOrder/EditorOpenOrder.log
Project/Saved/Shaders
Project/Saved/MaterialStatsDebug
Project/Saved/MaterialStats
Project/Build/Windows/FileOpenOrder
*.target
Project/Saved/StagedBuilds
Project/Binaries
scripts/system_details.ini
Project/Binaries/Win64/SurgoEditor.target
Project/Binaries/Win64/UnrealEditor.modules
