.idea
.vs
.vscode
Project/.vs
Project/Intermediate
Project/Saved/Logs
Project/Surgo.sln
Project/Saved/ShaderDebugInfo
Project/Saved/Autosaves
Project/Saved/Config/CrashReportClient
Project/Saved/SourceControl
Project/Saved/Crashes
